/* Mobile */
@media (max-width: 590px){
    .menu-mobile > nav > ul{
        margin-right: 180px;
    }
    
    .apresentacao {
        gap: 10px;
    }

    .fotoperfil{
        width: 50%;
    }

    .apresentacao-conteudo > h1{
        font-size: 1.2rem;
    }

    .apresentacao-conteudo > h1 strong{
        font-size: 1.2rem;
    }

    .tecnologias-icones-links{
        font-size: .8rem;
    }

    .icons{
        margin: 12px;
    }

    .conteudo-sobre p{
        width: 100%;
        height: 400px;
        text-align: justify;
        overflow-y: scroll;  
    }

    .portfolio{
        margin: auto;
    }

    .descricao{
        align-items: center;
        width: 100%;
    }

    .img-port{
        width: 340px;
        height: 240px;
    }

    #contato{
        margin-top: 10%;
        width: 100%;
    }
    
    #contato > p{
        display: none;
    }

    .WrapperButtonsConta{
        flex-direction: column;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 620px) {
    .projeto{
        flex-direction: column;
    }

    .img-port{
        width: 350px;
        height: 250px;
    }
        
    .descricao{
        text-align: center;
    }

    .descricao > p{
        display: none;
    }

    #projeto2{
        flex-direction: column;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .navButtons, .buttonProjeto{
        display: none;
    }

    #burguer{
        display: block;
        margin-right: 50px;
    }

    .main-header{
        justify-content: space-around;
    }

    .main-header > a > h2{
        width: 200px;
        margin-left: 30px;
    }

    .conteudo-sobre{
        width: auto;
    }

    .icones{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

    .projeto{
        gap: 40px;
    }

    .descricao{
        gap: 15px;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1000px) {

    .apresentacao{
        flex-direction: column-reverse;
        align-items: center;
    }

    .texto{
        display: none;
    }

    .apresentacao-links{
        justify-content: center;
    }

    .apresentacao h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    .apresentacao-conteudo > h1 strong{
        font-size: 1.5rem;
    }

    .tecnologias-icones{
        display: grid;
        grid-template-columns: auto auto auto auto auto;
    }

}    

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media (max-width: 1350px) {

    body{
        margin: auto;
    }
}